* {
    padding: 0;
    margin: 0;
}

*, *::after, *::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Abril Fatface', cursive;
}

body {
    max-width: 1200px;
    margin: 2rem auto;
    
}

.site-header {
    background: url(../Requirements-and-Resources/image/image.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 60%;
    position: relative;
}

.site-header .left-box {
    position: absolute;
    top: 5%;
    left: 10%;
    border: 1px solid rgb(141, 140, 140);
    display: inline-block;
    padding: 1.5rem 4rem 1.5rem 0.5rem;
    box-shadow: 5px 6px 8px 0px rgba(133,133,133,0.82);
}

.site-header .left-box p {
    font-size: 12px;
    padding-top: 0.5em;
}

.site-header .left-box .dash:after {
    content:'';
    display: block;
    width: 90px;
    height: 2px;
    border-bottom: 2px solid #fff;
}

.site-header .right-box {
    position: absolute;
    top: 25%;
    left:70%;
    border: 1px solid rgb(141, 140, 140);
    display: block;
    width: 25%;
    padding: 1rem 2rem 1rem 0.5rem;
    margin: 1rem 2rem;
    background: rgb(159, 149, 141);
    box-shadow: inset -143px -4px 148px -52px rgba(255,255,255,1);
}

.site-header .right-box p {
    display: block;
    color: #fff;
    font-size: 14px;
    text-shadow: 2px 0px 1px #444646;
    text-align: right;
    
}

.site-header .right-box .quote {
    font-size: 38px;
    color: rgb(141, 133, 129);
    text-shadow: 2px 1px 1px #000000;
}

.to-flex {
    display: flex;
    flex-wrap: wrap;
}

.site-main {
    background: rgb(242, 240, 243);
    padding: 2rem 4rem;
    width: 80%;
} 

.site-main h1 {
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.site-main .first span,
.site-main .two span,
.site-main .three span,
.site-main .four span {
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 0.5rem;
}

.site-main .first span::before,
.site-main .two span::before,
.site-main .three span::before,
.site-main .four span::before {
    content:'\f0a9';
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    padding-right: 0.5rem;
} 

.site-main .first,
.site-main .two,
.site-main .three,
.site-main .four {
    padding-bottom: 1rem;
}

.site-footer {
    background: rgb(242, 240, 243);
    width: 80%;
    padding: 2rem 0rem;
}

.site-footer h2 {
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-size: 34px;
}

.site-footer h2::after {
    content:'';
    display: block;
    width: 960px;
    height: 2px;
    border-bottom: 1px solid #000;
    margin-left: -4rem;
}

.contacts {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    flex-wrap: wrap;
    margin-right:0.5rem; 
    width: 70%;
}

.contacts span {
    font-style: italic;
    font-weight: bold;
    padding-right: 0.3rem;
}

.footer-form {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-top: 1.5rem;
}

.footer-form .input-form {
    border: none;
    background: rgb(186, 177, 173);
    padding: 0.7rem;
    border-radius: 0.3rem;
    flex-grow: 1;
    margin-right:0.5rem; 
}

::-webkit-input-placeholder {
    color: #fff;
}

.footer-form a {
    
    text-decoration: none;
    color: #fff;
    background: rgb(103, 120, 77);
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    display: inline-block;  
}

.site-aside {
    background: rgb(186, 177, 173);
    width: 20%;
}

.aside {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1.5rem;

}

.numbers {
    color: #fff;
    font-size: 50px;
    
}

.text {
    text-transform: uppercase;
    font-size: 14px;
    
}

.text:not(:last-child) {
    padding-bottom: 6rem ;
}